<footer class="bg-dark">
    <ul class="social-networks">
            <li><a href="https://www.facebook.com/musicforeventsNL" target="_blank"><i class="fab fa-facebook-square" title="Facebook"></i></a></li>
            <li><a href="https://twitter.com/MusicforeventsN" target="_blank"><i class="fab fa-twitter-square" title="Twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCHrcgxMp3AtVHSwPbXfGu2g" target="_blank"><i class="fab fa-youtube" title="Youtube"></i></a></li>
            <li><a href="https://www.instagram.com/musicforevents.nl/" target="_blank"><i class="fab fa-instagram" title="instagram"></i></a></li>
            <li><a href="contact.html" target="_blank"><i class="far fa-envelope" title="Contact Us"></i></a></li>
        </ul>
</footer> 