<footer class="site-footer bg-dark">
    <div class="container">
        <h6 class="mb-5">Some of our Customers:</h6>
        <div class="customers_logo container-fluid d-flex justify-content-around align-items-center pt-2 pb-2 flex-wrap">
            <div class="spacing_img mb-3">
                <img src="../assets/images/customers/Afbeelding1.png" alt="Company Logo">
            </div>
            <div class="spacing_img mb-3">
                <img src="../assets/images/customers/Den_Haag_Leeft.png" alt="Company Logo">
            </div>
            <div class="spacing_img mb-3">
                <img src="../assets/images/customers/Kompaan.png" alt="Company Logo">
            </div>
            <div class="spacing_img horizontal_img mb-3 trasparent_img p-1">
                <img src="../assets/images/customers/Hofkwartier_Nieuw.png" alt="Company Logo">
            </div>
            <div class="spacing_img horizontal_img mb-3">
                <img src="../assets/images/customers/Zuid_Holland.png" alt="Company Logo">
            </div>
            <div class="spacing_img mb-3 horizontal_img trasparent_img p-1">
                <img src="../assets/images/customers/Denneweg_Mailchimp.png" alt="Company Logo">
            </div>
            <div class="spacing_img mb-3">
                <img src="../assets/images/customers/Noordeinde.png" alt="Company Logo">
            </div>
            <div class="spacing_img mb-3">
                <img src="../assets/images/customers/Rotterdam_ Leeft.png" alt="Company Logo">
            </div>
        </div>
    </div>
    <div class="social_media_icon container mt-5 pt-3">
        <ul class="social-icons">
            <li>
                <a class="facebook" href="https://www.facebook.com/musicforeventsNL" target="_blank">
                    <i class="fa fa-facebook" title="Facebook"></i>
                </a>
            </li>
            <li>
                <a class="instagram" href="https://www.instagram.com/musicforevents.nl/" target="_blank">
                    <i class="fab fa-instagram" title="Instagram"></i>
                </a>
            </li> 
            <li>
                <a class="twitter" href="https://twitter.com/MusicforeventsN" target="_blank">
                    <i class="fa fa-twitter" title="Twitter"></i>
                </a>
            </li>  
            <li>
                <a class="youtube" href="https://www.youtube.com/channel/UCHrcgxMp3AtVHSwPbXfGu2g" target="_blank">
                    <i class="fab fa-youtube" title="Youtube"></i>
                </a>
            </li>
            <li>
                <a class="mail" href="contact.html">
                    <i class="far fa-envelope" title="Contact Us"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>