.trasparent_img{
    background-color: white;
}

.site-footer{
    padding:45px 0 20px;
    font-size:15px;
}

.site-footer hr{
    border-top-color:#bbb;
    opacity:0.5;
}

.site-footer h6{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

.spacing_img {
    width: 120px;
    height: 120px;
    background-color: #a9a9a9;

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.spacing_img img{
    filter: grayscale(100%);
    width: 100px;
    height: 100px;
}

.horizontal_img img{
    height: 40px;
}

.site-footer a{
    color:#737373;
}

.site-footer a:hover{
    color:#3366cc;
    text-decoration:none;
}

.social-icons{
    text-align:center;
}

.site-footer .social-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}

.social_media_icon{
    border-top: 2px solid rgba(156, 156, 156, 0.361);
}

.social-icons{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}

.social-icons li{
    display:inline-block;
    margin-bottom:4px
}

.social-icons li.title{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}

.social-icons a{
    background-color:#eceeef;
    color:#eceeef;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
    color:#fff;
    background-color:#29aafe
}

.social-icons.size-sm a{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}

.social-icons a.facebook:hover{
    background-color:#4971c8
}

.social-icons a.twitter:hover{
    background-color:#00aced
}

.social-icons a.instagram:hover{
    background-color:#e527db;
}

.social-icons a.mail:hover{
    background-color:#ea4c89
}

.social-icons a.youtube:hover{
     background-color:#e52d27;
}


@media all and (max-width:767px){
    .site-footer{
        padding-bottom:0
    }
    
    .site-footer .copyright-text,.site-footer .social-icons{
        text-align:center
    }

    .site-footer .social-icons ul li{
        margin-right:0;
        font-weight:600;
        font-size: 500px;
    }

    .site-footer .social-icons a{
        width:80px;
        height:80px;
        line-height:80px;
        margin:12px;
        border-radius:100%;
        background-color:#33353d;
        font-size:30px;
    }

    .site-footer h6 {
        font-size: 20px;
    }    
}