ul.social-networks{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    padding: 1em;
    margin-bottom: -1rem;
}

.social-networks i{
    font-size: 200%;
    color: white;
}

.social-networks i:hover{
    color: #ffc400;
}

.social-networks li{
    list-style-type: none;
}