@import url("main.css");

h2{
    color:#ffc400;
    text-shadow: 2px -2px 2px white;
    margin: 1.2em 0 .5em 0;
    text-align: center;
    font-size: 3em;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container{
    display: flex;
    justify-content:center;
    align-items: center;
}

a, a:hover{
    text-decoration: none;
    color: white;
}

.having_fun p, .having_fun h3 {
    color:black;
}

#having_fun_text{
   max-width: 550px;
}

iframe {
    width: 700px;
    height: 450px;
    border-radius: 4%;
    filter: drop-shadow(8px 10px 6px rgba(0, 0, 0, 0.773));
}