@import url("main.css");

main h2{
    color:#ffc400;
    text-shadow: 2px -2px 2px white;
    margin: 1.2em 0 .5em 0;
    text-align: center;
    font-size: 3em;
}

.container{
    display: flex;
    justify-content:center;
    align-items: center;
}

.our_services_child{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 1%;
}

.our_services_child h3{
    padding: 2%;
    font-size: 2em;
}

.our_services_child p{
padding: 0 2% 2%;
}

section#having_fun .container{
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
}

section#having_fun .container div{
    order: 2;
}

section#having_fun iframe{
    width: 100%;
    height: 80vh; 
    margin-right: 3%;
    border: 3px outset #b18700;
}

section#having_fun div{
    width: 80%;
}

section#having_fun h3{
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

section#having_fun p{
    font-size: 1.2em;
    text-align: center;
}

@media screen and (max-width: 1025px){
    .container{
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
    }
    .our_services_child{
        width: 90%;
        }

    section#having_fun iframe{
        height:50vh;
    }
}

.our_services_child img{
    width: 100%;
    height: auto;
    min-height: 70%;
}

.our_services_child h3, .our_services_child p{
    text-align: center
}

@media screen and (min-width: 1160px){
    #back-photo{
      position: relative;
    }
    
    #back-photo div{
        position: absolute;
        bottom: 90px;
        right: 10px;
    }
}