@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('variables.css');

*, html, body{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    max-width: 100%;
}

html{
    scroll-snap-type: x mandatory;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    text-align: center;
    background-color: rgb(32, 32, 32);
    color: rgb(230, 230, 230);
}

.container-fluid{
    padding: 0;
}

#logo{
    height: 64px;
}

h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
} 

.nav-link{
    font-size: 24px;
    color:rgb(193, 193, 193) !important;
}

@media only screen and (max-width: 767px){
    .navbar-toggler{
        font-size: 30px;
        padding: 10px;
    }

    .nav-link{
        font-size: 60px ;
        padding: 20px 0 ;
    }

    #logo{
        height: 80px;
    }
}
  
.grow_nav_li { 
    transition: all .2s ease-in-out; 
}

.grow_nav_li:hover { 
    transform: scale(1.2); 
}

.bg-dark{
    background-color: rgb(23, 23, 23) !important;
}


.head {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
}

.head_opacity{
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    background-color: rgba(45, 45, 45, 0.388);
}
  
.title {
    text-align: center;
    padding-top: 275px;
    text-shadow: 0px 4px 3px rgba(0,0,0,1),
                 0px 8px 13px rgba(0,0,0,1),
                 0px 18px 23px rgba(0,0,0,.5);
  }
  
.title h1 {
    font-family: var(--head-font-family);
    color: white;
}

.hr-title {
    text-align: center;
    border : 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(255,     255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); 
}

.fade-in-text {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
