@import url("main.css");
@import url("variables.css");

.head {
    background-image: url("/assets/images/general/contact.jpg");
}

.contact_info{
    font-family: var(--text-font-family);
    font-size: 25px;
    padding: 80px 25px;
}

.contact_info strong{
    color:#ffc400;
}

.contact_info p{
    margin-top: 30px;
}