/* @import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300'); */

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

body{
    font-family: Lato, sans-serif;
    color: white;
    /* display: flex;
    justify-content:center;
    flex-direction: column; */
}

header{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: auto;
    /* width: 1000vw; */
}

header #logo{
    width: 25%;
    height: 6vh;
    background-color: white;
    position: center;
    border-radius: 25px;
    margin-left: 30px;
}

header a{
    margin-top: 1%;
}
/* headings and logo */

h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white; 
    padding: 3%;
} 

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

/* #logo, #menu{
    line-height: 75px;
} */

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    height: 10px;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image and cover text */

section#back-photo{
    width: 100%;
    height:100vh;
    background: url("/assets/images/big_band.jpg") no-repeat center center; 
}

#cover-text h2 {
    color: #ffffff;
}

div#cover-text h2{
    font-size: 180%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 40%;
    height: auto;
    padding:10px;
    background-color: rgba(85, 81, 81, 0.8);
    bottom: 50%;
    right: 0;
    position: absolute;
    text-shadow: 2px -1px 2px black;

} 

/******  CONTAINER & CHILDREN  ******/

 main{
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}


main h2{
    color:#ffc400;
    text-shadow: 1px -1px 1px white;
    margin-bottom: 3%;
    padding: 8% 3% 3%;
}

.container{
    background-color: black;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content:center;
    align-items: center;
    /* flex-direction: column; */
  }

  .child{
    /* border: 2px solid blue; */
    width: 32%;
    min-height: 45%;
    /* border: 3px outset #b18700; */
    padding: 2%;
  }

  .child h3{
      padding: 2%;
      font-size: 2em;
  }

  .child p{
    padding: 0 2% 2%;
}

   .child input, section#having_fun input{
    background-color: #b18700;
    /* border: groove; */
    border-radius: 30%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 1em;
    margin-top: 5%;
    cursor: pointer;
    margin-bottom: 4%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-weight: 900;
}

/* .child #last_child{
    margin-bottom: 15%;
} */



/* *****   HAVING FUN ***** */

section#having_fun{
    display: flex;
    padding: 16% 3% 7%;
    margin: 0px 300px;
    width: 100%;
    /* flex-wrap: wrap; */
}

section#having_fun iframe{
    width: 100%;
    height: 45vh; 
    margin-right: 3%;
    border: 3px outset #b18700;
}

section#having_fun div{
    width: 80%;
}

section#having_fun h3{
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

section#having_fun p{
    font-size: 1.2em;
    text-align: center;
    /* margin-bottom: 2em; */
}

section#having_fun input{
    margin-top: 3em;
}

  @media screen and (max-width: 1024px){
    .container{
        background-color: black;
        height: auto;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 3%;
    }
    .child{
        /* border: 2px solid blue; */
        width: 90%;
      }
  }

  .child img{
      width: 100%;
      height: auto;
      min-height: 70%;
  }

  .child h3, .child p{
      text-align: center
  }
/* #left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
} */

/*#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading h2 {
    text-align: right;
} */

/* Club ethos center image */

 #welcome {
    text-align: center;
    font-size: 280%;
}

/*#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/video-mask.png") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Event times */

/* #times{
    background-image: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/dublin-city.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#times h2 {
    color: #fafafa;
} */

/* Footer */

footer{
    /* height: 2%; */
    background-color: rgb(24 24 24);;
}

ul.social-networks{
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 3em; */
    width: auto;
    padding: 1em;
}



/* .social-networks li{
    display: flex;
} */

.social-networks i{
    font-size: 200%;
    /* margin: 1%; */
    padding: 1% 5%;
    color: white;
    /* height: 100px; */
    list-style-type: none;
}

.social-networks li{
    list-style-type: none;
}

/* Gallery Photos */

/* #photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img{
    width: 100%;
} */

/* Form */

/* .form-section {
    clear: left;
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form{
    margin-top: 150px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form h2{
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}


.text-input:hover{
    border-color: #f16c6b;
}

.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover{
    background-color: #fafafa;
    color:#f16c6b;
} */

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
/* @media screen and (max-width: 1200px){
    #club-ethos{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about, #right-about {
        width:100%;
        float:left;
        padding: 0;
    }

    #center-about{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}
 */
/* For medium screens sizes from 950px wide and down */
/* @media screen and (max-width: 950px){

    #menu{
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left:0px;
    }

    #club-ethos{
        width:90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading{
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2{
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p{
        text-align: center;
        padding: 0 20px 0 20px;
    }

    #photo{
        column-count: 3;
    }
} */

/* For small screens sizes from 800px wide and down */
/* @media screen and (max-width: 800px){
    #photo{
        column-count: 2;
    }
} */