/* 
header{
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    align-content: center !important;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 2px solid rgb(24 24 24);
}

header img#logo{
    height: 50px;
    border-radius: 25px;
    margin-left: 30px;
}

header a{
    display:inline;
    width:16%;
}

header nav ul a{
    width:100%;
}  */

#logo{
    height: 40px;
    border-radius: 25px;
    /* margin-left: 30px; */
}