<section class="product_section">
    <!-- Doris van Iperen Card -->
    <div class="card" data-toggle="modal" data-target="#doris_van_iperen">
        <img src="../../assets/images/photo_video/doris_van_iperen.png" alt="">
        <div class="card-body">
            <h5 class="card-title">Doris van Iperen</h5>
            <p class="card-text">from: €200</p>
        </div> 

        <!-- Modal -->
        <div id="doris_van_iperen" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-xl">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title ml-1">Doris van Iperen</h4>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div> 
                            <a href="../../assets/images/photo_video/doris_van_iperen_work/1.doris_van_iperen_work.png" target="_blank">
                                <img id="my-img" src="../../assets/images/photo_video/doris_van_iperen_work/1.doris_van_iperen_work.png" class="mt-4 mb-5" alt="...">                              
                            </a>
                            <a href="../../assets/images/photo_video/doris_van_iperen_work/2.doris_van_iperen_work.jpg" target="_blank">
                                <img src="../../assets/images/photo_video/doris_van_iperen_work/2.doris_van_iperen_work.jpg" class="mt-4 mb-5" alt="Saxophone Player">
                            </a>
                            <a href="../../assets/images/photo_video/doris_van_iperen_work/3.doris_van_iperen_work.jpg" target="_blank">
                                <img src="../../assets/images/photo_video/doris_van_iperen_work/3.doris_van_iperen_work.jpg" class="mt-4 mb-5" alt="Saxophone Player">
                            </a>
                            <a href="../../assets/images/photo_video/doris_van_iperen_work/4.doris_van_iperen_work.png" target="_blank">
                                <img src="../../assets/images/photo_video/doris_van_iperen_work/4.doris_van_iperen_work.png" class="mt-4 mb-5" alt="Saxophone Player">
                            </a>
                            <a href="../../assets/images/photo_video/doris_van_iperen_work/5.doris_van_iperen_work.jpg" target="_blank">
                                <img src="../../assets/images/photo_video/doris_van_iperen_work/5.doris_van_iperen_work.jpg" class="mt-4 mb-5" alt="Saxophone Player">
                            </a>
                            <!-- <iframe src="https://www.youtube.com/embed/Mj-NdhMtVFg" frameborder="0" allowfullscreen>Solo</iframe> -->
                        </div>
                        <div class="modal_text">
                            <p>
                                I am Doris van Iperen, 28 years old, and a photographer for over a decade. My interests in
                                photography are very wide. 
                            </p>
                            <p>
                                I have worked as a photographer/videographer for film and
                                musical premieres, photographed the world's largest ballet, and contributed to the book
                                “festivalland”, a book about festivals and nature. 
                            </p>
                            <p>
                                I have photographed most of the festivals
                                in the Netherlands. I am also a singer and sing in 3 bands. All of my experience allows me to
                                capture the perfect moments on camera. 
                            </p>
                            <p>
                                I am very excited to contribute to musicforevents
                                and work in such a nice creative and musical team! 
                            </p>
                        </div>
                        
                        <div class="book_as_outer_container">
                            <!-- <div class="book_as_inner_container">
                                <h5>Book as:</h5>
                                <ul class="book_as_list">
                                    <li><i class="fa fa-fw fa-tags pr-5" aria-hidden="true"></i>DJ</li>
                                    <li><i class="fa fa-fw fa-tags pr-5" aria-hidden="true"></i>DJ + Musician</li>
                                    <li><i class="fa fa-fw fa-tags pr-5" aria-hidden="true"></i>DJ + Musician + Decoration</li>
                                </ul>
                            </div> -->
                            <p>
                                <strong> Price </strong> starts at  <strong>€200</strong>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ebony Lim Card -->
    <div class="card" data-toggle="modal" data-target="#ebony_lim">
        <img src="../../assets/images/photo_video/ebony_lim.png" alt="Saxophone Player">
        <div class="card-body">
            <h5 class="card-title">Ebony Lim</h5>
            <p class="card-text">from: €200</p>
        </div> 

        <!-- Modal -->
        <div id="ebony_lim" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="Miguel Sucasas" aria-hidden="true">
            <div class="modal-dialog modal-xl">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title ml-1">Ebony Lim</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div> 
                            <!-- <img src="../../assets/images/artists/jazz/miguel_sucasas.jpg" class="mt-4 mb-5" alt="Saxophone Player"> -->
                            <!-- <iframe src="https://www.youtube.com/embed/Mj-NdhMtVFg" frameborder="0" allowfullscreen>Solo</iframe> -->
                        </div>
                        <div class="modal_text">
                            <p>
                                Ebony is a photographer based in the vibrant city of Amsterdam. She is the founder and driving 
                                force behind To Dream A Story, a photography business that specialises in musician portraiture. 
                            </p>
                            <p>
                                Her preference for natural light and bright photos creates a natural and timeless feel, capturing 
                                the true character of the artists she photographs.
                            </p>
                        </div>
                        
                        <div class="book_as_outer_container">
                            <!-- <div class="book_as_inner_container">
                                <h5>Book as:</h5>
                                <ul class="book_as_list">
                                    <li><i class="fa fa-fw fa-tags pr-5" aria-hidden="true"></i>DJ</li>
                                    <li><i class="fa fa-fw fa-tags pr-5" aria-hidden="true"></i>DJ + Musician</li>
                                    <li><i class="fa fa-fw fa-tags pr-5" aria-hidden="true"></i>DJ + Musician + Decoration</li>
                                </ul>
                            </div> -->
                            <p>
                                <strong> Price </strong> starts at  <strong>€200</strong>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sabine Bastiaans Card -->
    <div class="card" data-toggle="modal" data-target="#sabine_bastiaans">
        <img src="../../assets/images/photo_video/sabine_bastiaans.png" alt="Saxophone Player">
        <div class="card-body">
            <h5 class="card-title">Sabine Bastiaans</h5>
            <p class="card-text">from: €200</p>
        </div> 

        <!-- Modal -->
        <div id="sabine_bastiaans" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="Miguel Sucasas" aria-hidden="true">
            <div class="modal-dialog modal-xl">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title ml-1">Sabine Bastiaans</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div> 
                            <!-- <img src="../../assets/images/artists/jazz/miguel_sucasas.jpg" class="mt-4 mb-5" alt="Saxophone Player"> -->
                            <!-- <iframe src="https://www.youtube.com/embed/Mj-NdhMtVFg" frameborder="0" allowfullscreen>Solo</iframe> -->
                        </div>
                        <div class="modal_text">
                            <p>
                                I am Sabine and since the moment I could hold a camera I would run around pretending to
                                take pictures with one. Around the age of 12 I got an old camera from my dad. 
                            </p>
                            <p>
                                It started
                                with pictures of animals and scenes on holidays. Later I started portraying my own special
                                effect make-up looks which turned into doing portrait photography. 
                            </p>
                            <p>
                                I like to make dynamic
                                pictures that show the mood and the personality of the person/character I am capturing.
                            </p>
                            <p>
                                My pictures are usually vibrant and full of color, but I also like to play with black and white
                                imagery. 
                            </p>
                            <p>
                                Hire me and I will recreate all of the special moments from your event. 
                            </p>
                        </div>
                        
                        <div class="book_as_outer_container">
                            <!-- <div class="book_as_inner_container">
                                <h5>Book as:</h5>
                                <ul class="book_as_list">
                                    <li><i class="fa fa-fw fa-tags pr-5" aria-hidden="true"></i>DJ</li>
                                    <li><i class="fa fa-fw fa-tags pr-5" aria-hidden="true"></i>DJ + Musician</li>
                                    <li><i class="fa fa-fw fa-tags pr-5" aria-hidden="true"></i>DJ + Musician + Decoration</li>
                                </ul>
                            </div> -->
                            <p>
                                <strong> Price </strong> starts at  <strong>€200</strong>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ksenia Card -->
    <div class="card" data-toggle="modal" data-target="#ksenia_ice">
        <img src="../../assets/images/photo_video/ksenia_ice.png" alt="Saxophone Player">
        <div class="card-body">
            <h5 class="card-title">Ksenia Ice</h5>
            <p class="card-text">from: €200</p>
        </div> 

        <!-- Modal -->
        <div id="ksenia_ice" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="Miguel Sucasas" aria-hidden="true">
            <div class="modal-dialog modal-xl">
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title ml-1">Ksenia Ice</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div> 
                            <!-- <img src="../../assets/images/artists/jazz/miguel_sucasas.jpg" class="mt-4 mb-5" alt="Saxophone Player"> -->
                            <!-- <iframe src="https://www.youtube.com/embed/Mj-NdhMtVFg" frameborder="0" allowfullscreen>Solo</iframe> -->
                        </div>
                        <div class="modal_text">
                            <p>
                                Hire our experienced videographers for a vivid memory of your day. 
                            </p>    
                            <p>
                                We use the latest
                                technologies to capture your videos with the highest resolution. Drone recordings are also
                                possible. 
                            </p>
                            <p>
                                Same with the photographers they should showcase their work on your website
                                too.
                            </p>
                        </div>
                        
                        <div class="book_as_outer_container">
                            <!-- <div class="book_as_inner_container">
                                <h5>Book as:</h5>
                                <ul class="book_as_list">
                                    <li><i class="fa fa-fw fa-tags pr-5" aria-hidden="true"></i>DJ</li>
                                    <li><i class="fa fa-fw fa-tags pr-5" aria-hidden="true"></i>DJ + Musician</li>
                                    <li><i class="fa fa-fw fa-tags pr-5" aria-hidden="true"></i>DJ + Musician + Decoration</li>
                                </ul>
                            </div> -->
                            <p>
                                <strong> Price </strong> starts at  <strong>€200</strong>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>